<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="Long" type="java.lang.Long"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.Employee" alias="Employee"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.User" alias="User"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.Task" alias="Task"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.order.Order" alias="Order"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.assignment.Assignment" alias="Assignment"/>
        <typeAlias type="com.gznznzjsn.carservice.domain.carservice.Period" alias="Period"/>
    </typeAliases>

</configuration>